Repository LSS-Manager/LSSM-V.4, pull requests merged in 2020-11, with the labels that each got.

#179 🔀🌐 [userid] cs_CZ
  src/modules/userid/i18n/cs_CZ.root.json
Labels: i18n

#234 🔀 improve appendable-lists
  src/components/setting/multi-select.vue
  src/components/setting/select.vue
  src/components/setting/settings-appendable-list.vue
  src/components/settings.vue
  src/core.ts
  src/i18n/de_DE.ts
  src/i18n/nl_NL.ts
  src/libraries.json
  src/modules/chatExtras/i18n/it_IT.root.json
  src/modules/extendedCallWindow/assets/missionKeywords.ts
  src/modules/extendedCallWindow/components/alarmIcons/preview.vue
  src/modules/extendedCallWindow/components/alarmIcons/settings-item.vue
  src/modules/extendedCallWindow/components/alarmIcons/settings-titles.vue
  src/modules/extendedCallWindow/components/missionKeywords/preview.vue
  src/modules/extendedCallWindow/components/missionKeywords/settings-item.vue
  src/modules/extendedCallWindow/components/missionKeywords/settings-titles.vue
  src/modules/extendedCallWindow/components/tailoredTabs/settings-item.vue
  src/modules/extendedCallWindow/components/tailoredTabs/settings-titles.vue
  src/modules/extendedCallWindow/settings.ts
  src/modules/missionHelper/i18n/it_IT.json
  src/modules/notificationAlert/components/settings-item.vue
  src/modules/notificationAlert/components/settings-titles.vue
  src/modules/notificationAlert/settings.ts
  src/modules/overview/i18n/it_IT.json
  src/store/api.ts
  typings/Module.d.ts
  typings/Setting.d.ts
  typings/components/setting/AppendableList.d.ts
  typings/components/setting/Select.d.ts
Labels: enhancement

#250 🚀 [Core] Some Stuff
  src/i18n/en_AU.ts
  src/i18n/en_US.ts
  src/i18n/fr_FR.ts
  src/i18n/it_IT.ts
  src/modules/chatExtras/i18n/en_AU.root.json
  src/modules/extendedCallWindow/i18n/fr_FR.js
  src/modules/extendedCallWindow/i18n/fr_FR.root.json
  src/modules/extendedCallWindow/i18n/it_IT.js
  src/modules/extendedCallWindow/i18n/it_IT.root.json
  src/modules/generalExtensions/i18n/fr_FR.root.json
  src/modules/generalExtensions/i18n/it_IT.root.json
  src/modules/missionHelper/i18n/en_AU.json
  src/modules/missionHelper/i18n/en_AU.root.json
  src/modules/missionHelper/i18n/en_GB.json
  src/modules/missionHelper/i18n/en_GB.root.json
  src/modules/missionHelper/i18n/en_US.json
  src/modules/missionHelper/i18n/en_US.root.json
  src/modules/missionHelper/i18n/fr_FR.json
  src/modules/missionHelper/i18n/fr_FR.root.json
  src/modules/missionHelper/i18n/it_IT.json
  src/modules/missionHelper/missionHelper.vue
  src/modules/missionHelper/settings.ts
  src/modules/overview/i18n/it_IT.json
  typings/Mission.d.ts
Labels: i18n

#256 🌐 [main,eCW, MH] Fix Some Translations
  src/i18n/cs_CZ.ts
  src/i18n/en_AU.ts
  src/i18n/en_GB.ts
  src/i18n/en_US.ts
  src/i18n/fr_FR.ts
  src/i18n/it_IT.ts
  src/i18n/nb_NO.ts
  src/modules/extendedCallWindow/i18n/en_US.js
  src/modules/extendedCallWindow/i18n/fr_FR.js
  src/modules/extendedCallWindow/i18n/it_IT.js
  src/modules/missionHelper/i18n/en_US.json
  src/modules/missionHelper/i18n/en_US.root.json
Labels: i18n

#259 💚 improve build speed a bit
  build/index.ts
  package.json
  src/libraries.json
  src/modules/missionHelper/i18n/fr_FR.json
  webpack.config.ts
  yarn.lock
Labels: enhancement, ▲

#303 🔀✨ [dashboard/chart-summary] use barchart & waterfall
  src/components/settings.vue
  src/libraries.json
  src/modules/dashboard/components/chart-summary.vue
  src/modules/dashboard/i18n/de_DE.json
  src/modules/dashboard/i18n/en_AU.json
  src/modules/dashboard/i18n/en_GB.json
  src/modules/dashboard/i18n/en_US.json
  src/modules/dashboard/i18n/nl_NL.json
  src/modules/dashboard/register.json
  src/modules/dashboard/settings.ts
  src/modules/extendedBuilding/settings.ts
  src/modules/missionHelper/settings.ts
  typings/modules/Dashboard/ChartSummary.d.ts
Labels: enhancement
