Repository LSS-Manager/LSSM-V.4, pull requests merged in 2020-10, with the labels that each got.

#138 First version of the nl_NL docs + little fix in en_GB
  docs/en_GB/settings.md
  docs/nl_NL/README.md
  docs/nl_NL/apps.md
  docs/nl_NL/appstore.md
  docs/nl_NL/error_report.md
  docs/nl_NL/faq.md
  docs/nl_NL/metadata.md
  docs/nl_NL/other.md
  docs/nl_NL/settings.md
  docs/nl_NL/suggestions.md
  docs/nl_NL/support.md
Labels: documentation, i18n

#139 🔀👥 add contributors
  .all-contributorsrc
  README.md
Labels: project

#149 🌐[Core] 🇺🇸 Translation
  docs/en_US/README.md
  docs/en_US/apps.md
  docs/en_US/appstore.md
  docs/en_US/error_report.md
  docs/en_US/faq.md
  docs/en_US/metadata.md
  docs/en_US/other.md
  docs/en_US/settings.md
  docs/en_US/suggestions.md
  docs/en_US/support.md
  src/i18n/en_US.ts
  src/modules/asyncButtons/docs/en_US.md
  src/modules/asyncButtons/i18n/en_US.json
  src/modules/asyncButtons/i18n/en_US.root.json
  src/modules/buildingHover/docs/en_US.md
  src/modules/buildingHover/i18n/en_US.root.json
  src/modules/clock/docs/en_US.md
  src/modules/clock/i18n/en_US.root.json
  src/modules/dashboard/i18n/en_US.json
  src/modules/dashboard/i18n/en_US.root.json
  src/modules/enhancedPOI/i18n/en_US.json
  src/modules/enhancedPOI/i18n/en_US.root.json
  src/modules/extendedBuilding/i18n/en_US.json
  src/modules/extendedBuilding/i18n/en_US.root.json
  src/modules/extendedCallWindow/i18n/en_US.js
  src/modules/extendedCallWindow/i18n/en_US.root.json
  src/modules/generalExtensions/i18n/en_US.json
  src/modules/generalExtensions/i18n/en_US.root.json
  src/modules/hotkeys/i18n/en_US.root.json
  src/modules/lssmaql/i18n/en_US.root.json
  src/modules/missionHelper/i18n/en_US.json
  src/modules/missionHelper/i18n/en_US.root.json
  src/modules/notificationAlert/docs/en_US.md
  src/modules/notificationAlert/i18n/en_US.json
  src/modules/notificationAlert/i18n/en_US.root.json
  src/modules/overview/i18n/en_US.json
  src/modules/overview/i18n/en_US.root.json
  src/modules/renameFz/docs/en_US.md
  src/modules/renameFz/docs/nl_NL.md
  src/modules/renameFz/i18n/en_US.json
  src/modules/renameFz/i18n/en_US.root.json
  src/modules/renameFz/i18n/nl_NL.json
  src/modules/renameFz/i18n/nl_NL.root.json
  src/modules/schoolingOverview/docs/en_US.md
  src/modules/schoolingOverview/i18n/en_US.json
  src/modules/schoolingOverview/i18n/en_US.root.json
  src/modules/support/i18n/en_US.root.json
  src/modules/telemetry/i18n/en_US.root.json
  src/modules/template/docs/template.en_US.md
  src/modules/template/i18n/en_US.root.json
  src/modules/userid/docs/en_US.md
  src/modules/userid/i18n/en_US.root.json
Labels: i18n, ▲

#153 📝🌐🇮🇹
  docs/it_IT/README.md
  docs/it_IT/apps.md
  docs/it_IT/appstore.md
  docs/it_IT/error_report.md
  docs/it_IT/faq.md
  docs/it_IT/metadata.md
  docs/it_IT/other.md
  docs/it_IT/settings.md
  docs/it_IT/suggestions.md
  docs/it_IT/support.md
Labels: documentation, i18n

#154 🔀🇺🇸🌐🐛
  src/i18n/en_US.ts
  src/modules/missionHelper/settings.ts
Labels: enhancement, i18n

#155 Various spelling & grammar changes for en_US
  docs/en_US/README.md
  docs/en_US/appstore.md
  docs/en_US/bug_report.md
  docs/en_US/error_report.md
  docs/en_US/faq.md
  docs/en_US/metadata.md
  docs/en_US/other.md
  docs/en_US/suggestions.md
  docs/en_US/support.md
  src/modules/missionHelper/i18n/en_US.json
  src/modules/missionHelper/i18n/en_US.root.json
Labels: i18n

#159 📝🌐 Fixed a faulty link linking to the FAQ
  docs/it_IT/README.md
Labels: documentation, i18n

#160 🌐🇮🇹 main i18n
  src/i18n/it_IT.ts
Labels: i18n

#161 🔀📝🌐🇨🇿
  docs/cz_CZ/README.md
  docs/cz_CZ/apps.md
  docs/cz_CZ/appstore.md
  docs/cz_CZ/bug_report.md
  docs/cz_CZ/settings.md
  docs/cz_CZ/suggestions.md
  src/i18n/cs_CZ.ts
Labels: i18n

#164 :globe_with_meridians: IT, GB and CZ - Add POI sorted by ID
  src/i18n/cs_CZ.ts
  src/i18n/en_GB.ts
  src/i18n/it_IT.ts
Labels: i18n

#163 🔀🌐📝nl_NL Module translations and docs
  docs/nl_NL/appstore.md
  src/i18n/en_US.ts
  src/i18n/nl_NL.ts
  src/modules/asyncButtons/docs/nl_NL.md
  src/modules/asyncButtons/i18n/nl_NL.json
  src/modules/asyncButtons/i18n/nl_NL.root.json
  src/modules/buildingHover/docs/nl_NL.md
  src/modules/buildingHover/i18n/nl_NL.root.json
  src/modules/clock/docs/nl_NL.md
  src/modules/clock/i18n/nl_NL.root.json
  src/modules/dashboard/docs/nl_NL.md
  src/modules/dashboard/i18n/nl_NL.json
  src/modules/dashboard/i18n/nl_NL.root.json
  src/modules/enhancedPOI/docs/nl_NL.md
  src/modules/enhancedPOI/i18n/nl_NL.json
  src/modules/enhancedPOI/i18n/nl_NL.root.json
  src/modules/extendedBuilding/docs/nl_NL.md
  src/modules/extendedBuilding/i18n/nl_NL.json
  src/modules/extendedBuilding/i18n/nl_NL.root.json
  src/modules/extendedCallWindow/docs/nl_NL.md
  src/modules/extendedCallWindow/i18n/nl_NL.js
  src/modules/extendedCallWindow/i18n/nl_NL.root.json
  src/modules/generalExtensions/docs/nl_NL.md
  src/modules/generalExtensions/i18n/nl_NL.json
  src/modules/generalExtensions/i18n/nl_NL.root.json
  src/modules/hotkeys/docs/nl_NL.md
  src/modules/hotkeys/i18n/nl_NL.root.json
  src/modules/lssmaql/i18n/nl_NL.root.json
  src/modules/missionHelper/docs/nl_NL.md
  src/modules/missionHelper/i18n/nl_NL.json
  src/modules/missionHelper/i18n/nl_NL.root.json
  src/modules/missionHelper/missionHelper.vue
  src/modules/missionHelper/settings.ts
  src/modules/notificationAlert/docs/nl_NL.md
  src/modules/notificationAlert/i18n/nl_NL.json
  src/modules/notificationAlert/i18n/nl_NL.root.json
  src/modules/overview/docs/nl_NL.md
  src/modules/overview/i18n/nl_NL.json
  src/modules/overview/i18n/nl_NL.root.json
  src/modules/releasenotes/i18n/nl_NL.root.json
  src/modules/renameFz/i18n/nl_NL.json
  src/modules/renameFz/i18n/nl_NL.root.json
  src/modules/schoolingOverview/docs/nl_NL.md
  src/modules/schoolingOverview/i18n/nl_NL.json
  src/modules/schoolingOverview/i18n/nl_NL.root.json
  src/modules/support/i18n/nl_NL.root.json
  src/modules/telemetry/i18n/nl_NL.root.json
  src/modules/template/docs/template.nl_NL.md
  src/modules/template/i18n/nl_NL.root.json
  src/modules/userid/docs/nl_NL.md
  src/modules/userid/i18n/nl_NL.root.json
Labels: i18n

#170 :bug: [i18n] Sort Buildings 🇺🇸
  src/i18n/en_US.ts
Labels: i18n

#171 :globe_with_meridians: :memo: Fix translations
  docs/cs_CZ/README.md
  docs/cs_CZ/apps.md
  docs/cs_CZ/appstore.md
  docs/cs_CZ/error_report.md
  docs/cs_CZ/settings.md
  docs/en_GB/README.md
Labels: documentation, i18n

#162 🔀🌐🇮🇹 modules it_IT part 1
  src/modules/asyncButtons/i18n/it_IT.json
  src/modules/asyncButtons/i18n/it_IT.root.json
  src/modules/buildingHover/i18n/it_IT.root.json
  src/modules/clock/i18n/it_IT.root.json
  src/modules/dashboard/i18n/it_IT.json
  src/modules/dashboard/i18n/it_IT.root.json
  src/modules/enhancedPOI/i18n/it_IT.json
  src/modules/enhancedPOI/i18n/it_IT.root.json
  src/modules/extendedBuilding/i18n/it_IT.json
  src/modules/extendedBuilding/i18n/it_IT.root.json
  src/modules/extendedCallWindow/i18n/it_IT.js
  src/modules/extendedCallWindow/i18n/it_IT.root.json
  src/modules/generalExtensions/i18n/it_IT.json
  src/modules/generalExtensions/i18n/it_IT.root.json
  src/modules/hotkeys/i18n/it_IT.root.json
  src/modules/lssmaql/i18n/it_IT.root.json
  src/modules/missionHelper/i18n/it_IT.json
  src/modules/missionHelper/i18n/it_IT.root.json
  src/modules/notificationAlert/i18n/it_IT.json
  src/modules/notificationAlert/i18n/it_IT.root.json
  src/modules/overview/i18n/it_IT.json
  src/modules/overview/i18n/it_IT.root.json
  src/modules/releasenotes/i18n/it_IT.root.json
  src/modules/renameFz/i18n/it_IT.json
  src/modules/renameFz/i18n/it_IT.root.json
  src/modules/schoolingOverview/i18n/it_IT.json
  src/modules/schoolingOverview/i18n/it_IT.root.json
  src/modules/support/i18n/it_IT.root.json
  src/modules/telemetry/i18n/it_IT.root.json
  src/modules/template/i18n/it_IT.root.json
  src/modules/userid/i18n/it_IT.root.json
Labels: i18n

#177 🔀🌐🇨🇿 cz_CZ Vehicles
  src/i18n/cs_CZ.ts
Labels: i18n

#178 :bug: :globe_with_meridians: [i18n] some fixxes
  src/i18n/en_US.ts
  src/i18n/en_US/highcharts.json
  src/i18n/it_IT.ts
  src/modules/extendedCallWindow/i18n/en_US.js
  src/modules/missionHelper/i18n/it_IT.json
  src/modules/missionHelper/i18n/it_IT.root.json
Labels: i18n

#180 🐛 Hopefully fix bugs NL
  src/i18n/nl_NL.ts
  src/modules/extendedCallWindow/i18n/nl_NL.js
  src/modules/missionHelper/i18n/nl_NL.json
Labels: i18n

#176 🔀🌐🇫🇷 first fr_FR translations
  src/i18n/fr_FR.ts
Labels: i18n

#186 💚 [build] better building
  build/index.ts
  scripts/index.ts
  src/i18n/nb_NO.ts
Labels: Core, i18n

#193 Change Telemetry URL
  src/modules/telemetry/main.ts
  static/telemetry.php
Labels: browser-compatibility, bug

#199 🔀🌐 [missionHelper] 🇮🇹 fixxes
  src/modules/missionHelper/i18n/it_IT.json
Labels: i18n

#195 🔀🚧 Code of Conduct
  CODE_OF_CONDUCT.md
  README.md
Labels: help wanted, project
