Repository LSS-Manager/LSSM-V.4, pull requests merged in 2023-10, with the labels that each got.

#2625 [sv_SE] add/update translations for missionHelper
  src/modules/missionHelper/i18n/sv_SE.json
  src/modules/missionHelper/i18n/sv_SE.root.json
Labels: good first issue, i18n

#2636 🇺🇸 Content Pack US
  src/i18n/en_US.ts
  src/i18n/en_US/buildings.ts
  src/i18n/en_US/equipment.ts
  src/i18n/en_US/schoolings.ts
  src/i18n/en_US/vehicles.ts
  src/modules/extendedCallWindow/i18n/en_US.json
  src/modules/missionHelper/i18n/en_US.json
Labels: hacktoberfest, hacktobertest-approved, hacktoberfest-accepted

#2621 [pt_PT] add new language
  src/modules/buildingHover/i18n/pt_PT.root.json
  src/modules/missionHelper/i18n/pt_PT.json
  src/modules/missionHelper/i18n/pt_PT.root.json
Labels: i18n

#2646 🌐 [core] update POI lists
  src/i18n/cs_CZ.ts
  src/i18n/en_US.ts
  src/i18n/es_ES.ts
  src/i18n/it_IT.ts
  src/i18n/nb_NO.ts
  src/i18n/pl_PL.ts
  src/i18n/sv_SE.ts
Labels: hacktoberfest, hacktobertest-approved, hacktoberfest-accepted

#2632 🔀⚡ [store/api] improve radioMessage performance
  src/stores/api.ts
  typings/store/api/State.d.ts
Labels: enhancement

#2655 ✨[core] Large guard adds
  src/i18n/cs_CZ/buildings.ts
  src/i18n/en_AU/buildings.ts
  src/i18n/en_GB/buildings.ts
  src/i18n/en_US/buildings.ts
  src/i18n/nl_NL/buildings.ts
  src/modules/extendedCallWindow/i18n/en_GB.json
  src/modules/extendedCallWindow/i18n/en_US.json
Labels: enhancement, i18n, hacktoberfest, hacktobertest-approved, hacktoberfest-accepted

#2667 🐛[GB] Fix Coast Guard
  src/i18n/en_GB/buildings.ts
  src/i18n/en_GB/vehicles.ts
Labels: i18n, hacktoberfest, hacktobertest-approved, hacktoberfest-accepted
