Repository LSS-Manager/LSSM-V.4, pull requests merged in 2024-07, with the labels that each got.

#3120 🔀🌐 [cs_CZ] add/update translations for {missionHelper}
  README.md
  src/modules/missionHelper/i18n/cs_CZ.json
  src/modules/missionHelper/i18n/cs_CZ.root.json
Labels: good first issue, i18n

#3121 🔀🌐 [nl_NL] add/update translations for MissionHelper
  src/modules/missionHelper/i18n/nl_NL.json
Labels: i18n

#3129 📝[docs] fix local deploy documentation
  docs/en_US/contributing/development.md
  package.json
Labels: documentation
